:root {
    --background-color: #212A3E;
    --main-text-color: #9BA4B5;
    --emphasis-color: #F1F6F9;
    --button-color: #394867;
    --button-text-color: #F1F6F9;
    --heading-color: #fec160;
  }
  
.lightmode {
--background-color: #DDF2FD;
--main-text-color: #427D9D;
--emphasis-color: #164863;
--button-color: #427D9D;
--button-text-color: #9BBEC8;
--heading-color: #fec160; /*dont change*/
}