 #customtimeline-container {
    display: flex;
    flex-direction: column;
    place-self: center;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: cyan transparent;
    gap: 20px;
    height: 70vh;
    min-height: 400px;
    width: auto;
}

.content-container {
    width: 400px;
    height: fit-content;
    border-radius: 10px;
    box-shadow: -1px -1px cyan;
    background-image:  radial-gradient(circle at top left, #0c3148, #011D2F);
    scrollbar-width: thin;
    scrollbar-color: cyan transparent;
    cursor: pointer;
    transform: scale(0.9)
}
.content-container:hover {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.content-container * {
    display: block;
    text-align: left;
    height: fit-content;
    width: fit-content;
}

.MuiTimelineConnector-root {
    flex-grow: 1; /* stretch connector lines */
}


@media screen and (max-width: 700px) {

    .content-container {
        width: auto;
        transform: scale(0.7);
    }

    .MuiTimelineOppositeContent-root {
        display: none;
    }
    
}