#main-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    gap: clamp(10px, 10vw, 100px);
}

@media screen and (max-width: 500px) {
    #main-container {
        flex-direction: column;
        gap: 0;
    }
}